
*.dat
*.txt
X07_Total_UDP/.vs/H07_Total/v15/.suo
X07_Total_UDP/.vs/H07_Total/v14/.suo
X07_Total/X07_Total/obj/Debug/DesignTimeResolveAssemblyReferences.cache
X07_Total/X07_Total/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
X07_Total/X07_Total/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
X07_Total/X07_Total/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
X07_Total/X07_Total/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
X07_Total/X07_Total/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
X07_Total/X07_Total/obj/Debug/X07_Total.csproj.CoreCompileInputs.cache
X07_Total/.vs/X07_Total/v15/.suo
*.resources
*.pdb
*.cache
*.exe
X07_Total/X07_Total/bin/Debug/X07_Total.exe.config
X07_Total/.vs/X07_Total/v15/.suo
X07_Total/X07_Total/obj/Debug/X07_Total.csproj.CopyComplete
X07_Total/.vs/X07_Total/v15/*.*