<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="LocalIP1" value="192.168.1.23"></add>
    <add key="LocalPort1_YK" value="8009"></add>
    <add key="LocalPort1_YC" value="8010"></add>

    <add key="LocalIP2" value="192.168.1.4"></add>
    <add key="LocalPort2_GT" value="8804"></add>
    <add key="LocalPort2_other" value="3020"></add>
    
    <add key="LocalIP3" value="192.168.10.200"></add>
    <add key="LocalPort3_JMJ" value="9999"></add>
    <add key="ZK1IP" value="192.168.1.3"></add>
    <add key="ZK2IP" value="192.168.7.6"></add>

    <add key="Server_CRTa_Ip" value="192.168.1.157"></add>
    <add key="Server_CRTa_Port" value="3020"></add>
    <add key="Server_CRTa_Port2" value="3070"></add>   
    
    <add key="Server_CRTb_Ip" value="192.168.1.123"></add>
    <add key="Server_CRTb_Port" value="3020"></add>

    
    <add key="LockTime" value="10"></add>
    <add key="YKLogLine" value="200"></add>
    <add key="KcmdPath" value="D:\X07_YKYC\X07_YKYC\bin\Release\K令码表\Tdebug401_test.bin"></add>  
  </appSettings>
</configuration>
