<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="参数校准" value="FALSE"></add>
    
    <add key="ShuChuan01" value="FFFF00009999C0DEC0DE"></add>
    <add key="ShuChuan02" value="FFFF00019999C0DEC0DE"></add>
    <add key="ShuChuan03" value="FFFF00029999C0DEC0DE"></add>
    <add key="ShuChuan04" value="FFFF00039999C0DEC0DE"></add>
    <add key="ShuChuan05" value="FFFF00049999C0DEC0DE"></add>
    <add key="ShuChuan06" value="FFFF00059999C0DEC0DE"></add>
    <add key="ShuChuan07" value="FFFF00069999C0DEC0DE"></add>
    <add key="ShuChuan08" value="FFFF00079999C0DEC0DE"></add>
    <add key="ShuChuan01_Rate" value="1Mbps"></add>
    <add key="ShuChuan02_Rate" value="1Mbps"></add>
    <add key="ShuChuan03_Rate" value="1Mbps"></add>
    <add key="ShuChuan04_Rate" value="1Mbps"></add>
    <add key="ShuChuan05_Rate" value="1Mbps"></add>
    <add key="ShuChuan06_Rate" value="1Mbps"></add>
    <add key="ShuChuan07_Rate" value="1Mbps"></add>
    <add key="ShuChuan08_Rate" value="1Mbps"></add>

    <add key="OCOutValue1_01" value="80000"></add>
    <add key="OCOutValue1_02" value="80000"></add>
    <add key="OCOutValue1_03" value="80000"></add>
    <add key="OCOutValue1_04" value="80000"></add>
    <add key="OCOutValue1_05" value="80000"></add>
    <add key="OCOutValue1_06" value="80000"></add>
    <add key="OCOutValue1_07" value="80000"></add>
    <add key="OCOutValue1_08" value="80000"></add>

    <add key="OCOutValue2_01" value="80000"></add>
    <add key="OCOutValue2_02" value="80000"></add>
    <add key="OCOutValue2_03" value="80000"></add>
    <add key="OCOutValue2_04" value="80000"></add>
    <add key="OCOutValue2_05" value="80000"></add>
    <add key="OCOutValue2_06" value="80000"></add>
    <add key="OCOutValue2_07" value="80000"></add>
    <add key="OCOutValue2_08" value="80000"></add>

    <add key="HT804 CK USB3.0 Device00" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device01" value="机箱1(422与数传)"></add>
    <add key="HT804 CK USB3.0 Device02" value="机箱2(OC)"></add>
    <add key="HT804 CK USB3.0 Device03" value="机箱3测试(DA和数字电阻)"></add>
    <add key="HT804 CK USB3.0 Device04" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device05" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device06" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device07" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device08" value="机箱Res"></add>
    <add key="HT804 CK USB3.0 Device09" value="机箱Res"></add>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
